@import "../../../styles/mixin";
@import "../../../styles/vars";

.edit-profil {
    //padding: 1em 1em;
    overflow-x: hidden;

    &_back {
        padding: 1em 0.5em !important;
        margin: 0 !important;
        background-color: $shape-color;
        margin-bottom: 1.5em !important;
    }

    &_profil {
        padding: 1em;
        background-color: $background-items;

        .biolength-hight {
            color: red;
        }
    }

    &_langs {
        padding: 1em;
    }

    &_password {
        padding: 1em;
    }

    &_email {
        padding: 1em;
    }

    &_slug {
        padding: 1em;
    }

    &_title {
        font-size: 1.1em;
        position: relative;
        line-height: 2em;
        margin: 1em;

        &__arrow {
            position: absolute;
            right: 0;
            top: 0;
        }

        &__arrow.active {
            color: $primary-color;
        }
    }

    &_label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    &_accordion {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .activeAccordion {
            color: $primary-color;
        }
    }

    .ui.pointing.label:before {
        left: 85% !important;
    }

    .ui.button {
        margin: 1em auto 0 auto;
        @include button;
        text-align: center;
    }

    &_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1em 0;

        &__avatar {
            max-width: 120px !important;
        }

        &__toggle {
            display: flex;
            flex-direction: column;
            width: 150px;

            .toggle_container {
                display: flex;
                justify-content: space-between;
                align-content: center;
                padding: 0.4em 0;
            }
        }
    }
}
