@import '../../../styles/mixin';
@import '../../../styles/vars';

.edit-profil {
    padding: 1em 2em;

    &_profil {
        padding: 2em 0;
    }

    &_password {
        padding: 2em 0;
    }

    &_email {
        padding: 2em 0;
    }

    &_slug {
        padding: 2em 0;
    }


    &_title {
        font-size: 1.1em;
    }

    .ui.button {
        margin: 0 auto;
        @include button;
        text-align: center;
    }

    &_container {

        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1em 0;

        &__avatar {
            max-width: 120px!important;
            // border-radius: 50%!important;
        }
    
        &__toggle {
            display: flex;
            flex-direction: column;
            width: 150px;
            

            .toggle_container {
                display: flex;
                justify-content: space-between;
                align-content: center;
                padding: .4em 0;
            }
        }
    }
}