@import "../../styles/vars";
@import "../../styles/mixin";

.signup {
    margin-top: 3em;
    &-title {
        margin-bottom: 10px;
    }

    &-link {
        color: $primary-text-color;
        transition: color 0.25s;

        &:hover {
            color: $primary-color;
        }
    }

    &-button {
        @include flex-column;
        align-items: center;
        &--item {
            background-color: $primary-color !important;
            color: $background-items !important;
            margin-bottom: $margin !important;
            margin-top: 3em !important;

            &:hover,
            :active {
                background-color: darken(
                    $color: $primary-color,
                    $amount: 4
                ) !important;
            }
        }
    }
}
