@import "../../styles/vars";

body {
  color: $primary-text-color;
  background-color: lighten($color: #f5f4f4, $amount: 3%) !important;
  overflow-y: scroll;
  height: 100vh !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $primary-color !important;
}

.d-none {
  display: none !important;
}

::-webkit-scrollbar {
  width: 2px !important; /* Remove scrollbar space */
  background: transparent !important; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: $primary-color !important;
}

a {
  color: $primary-text-color !important;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.grecaptcha-badge {
  animation: fadeOut 4s forwards;
  pointer-events: none;
}

.bold {
  font-weight: 600;
}

//   input[type="color"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"],
// select:focus,
// textarea {
//     font-size: 16px!important;
// }
