
.header-admin {

    &.links {
        margin: auto;

        &__item {
            margin-right: 1em;
        }
    }
}

.ui.menu {
    margin: 0;
}

.header-admin .active {
    color: #FE724C;
    font-weight: 600;
}