@import "../../styles/vars";
.member-card {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: $background-color;
    color: $primary-text-color;
    padding: 8px 0;
    border-top: 1px solid #f9ecec;

    // &:first-of-type {
    //     border-top: 0px;
    // }
    
    &_left {
        width: 100%;
    }

    &_right {
        width: 150px;
        // margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .fullname {
        margin-bottom: 0;
    }

    .avatar {
        margin-left: 10px;
    }

    .records {
        font-weight: 300;
        font-size: 0.9em;
        color: hsl(180, 29%, 50%);
    }

    .ui.floated.image {
        margin-bottom: 0 !important;
        margin-top: 0.2em !important;
    }
}

