@import "../../styles/vars";
@import "../../styles/mixin";

.ifollowersiFollowing {
    &-menu {
        &__item {
            width: 50%;
            padding: 15px 0 !important;
            padding-left: 60px !important;
        }
    }

    &-profil_back {
        margin-bottom: 0 !important;
        padding: 10px !important;
        background-color: $shape-color;
    }
}

.followers-card,
.following-card {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: $background-color;
    color: $primary-text-color;
    padding: 8px 0;
    border-top: 1px solid #f9ecec;

    &_left {
        width: 100%;
    }

    &_right {
        width: 180px;
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;

        .follow-btn {
            padding-right: 2px;
            @include button;
        }

        .not-follow-btn {
            padding-right: 2px;
        }

        .follow-btn > .icon.add,
        .not-follow-btn > .icon.add {
            position: relative;
            left: 6px;
        }
    }

    .fullname {
        margin-bottom: 0;
        position: relative;
        top: 10px;
        font-size: 1.2em !important;
    }

    .avatar {
        margin-left: 10px !important;
    }
}
