@import "../../../styles/vars";
@import "../../../styles/mixin";

.container-dropdown_accordion {
    width: 60% !important;
    margin: 0 auto;
    line-break: anywhere;

    .active-title {
        color: $primary-color !important;
    }

    .accordion-dropdown_traductions_text {
        cursor: pointer;
        padding-left: 15px;
        margin-bottom: 1px;

        .expression::first-letter {
            text-transform: capitalize;
        }
    }
}
