@import "../../styles/vars";

.usersPage {
    margin: 1em;
    .title {
        margin: 20px 0 !important;
        font-weight: 700;
        font-size: 2rem;
    }

    .users-list > a > .member-card:first-child() {
        border-top: none !important;
        //border-bottom: $border-color 1px solid;
        background-color: blue;
    }
}