@import "../../styles/vars";

.usersPage {
    margin: 1em;
    .title {
        margin: 20px 0 !important;
        font-weight: 700;
        font-size: 2rem;
    }

    a:first-child .member-card {
        border-top: none!important;
    }
}

