@import "../../styles/vars";
@import "../../styles/mixin";

.main {
    background-color: $background-color !important;
    max-height: 98vh;

    &-content {
        height: calc(100vh - 108px);
        overflow-y: scroll;
    }
}

.header {
    @include flex-alignCenter;
    padding: $padding-big;
    height: 54px;
    z-index: 1000;
    border-bottom: 1px solid $border-color;

    &-icon {
        cursor: pointer;
        color: $primary-color;
    }

    &-title {
        margin: 0;
    }
}

.menu {
    max-height: 100vh;
    height: 100vh;
    &-links {
        height: 97%;
        align-items: flex-start;
        text-align: left;

        @include flex-column;
        justify-content: space-between;
        &--container {
            @include flex-column;
        }
        &--item {
            padding: 15px;
            color: $primary-text-color;
            position: relative;
            &:after {
                position: absolute;
                transition: all 0.1s;
                bottom: 0;
                left: 0;
                right: 0;
                width: 3px;
                content: ".";
                color: transparent;
                background: $primary-color;
                height: 0%;
            }

            &:hover,
            &.active {
                color: $primary-color;
            }

            &:hover::after,
            &.active::after {
                height: 100%;
            }
        }
    }
}

.navigationBottom {
    padding: $padding;
    height: 54px;
    @include flex-spaceEvenly;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid $border-color;

    &-items {
        margin-left: 10px !important;
    }
}

/* Reset style Semantic */

div.ui.grid > .column:not(.row) {
    padding-top: 0;
    padding-bottom: 0;
}

div.ui.grid > .column:not(.row),
div.ui.grid > .row > .column {
    padding-left: 0;
    padding-right: 0;
}

div.ui.segment {
    padding: 0;
}

div.ui.thin.left.sidebar,
div.ui.thin.right.sidebar {
    width: 200px;
}
