@import '../../../styles/vars';

.home-admin {
    height: 92vh;
    background-color: $background-color;
    padding: 4em;

    &_container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 100%;

        &.stats-left {
            width: 47%;
            height: 40vh;
        }

        &.stats-right {
            width: 47%;
            height: 40vh;
        }
    }

    .ui .statistic .label {
        color: $primary-color;
    }
    
    .ui .statistic .value {
        color: #ffffff;
    }

    .segment {
        border-radius: 12px;
    }
}