@import "../../styles/vars";
@import "../../styles/mixin";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
    overflow-y: scroll;
    height: 100vh!important;
}

.main {
    background-color: $background-color !important;
    max-height: 98vh;

    &-content {
        height: calc(100vh - 54px);
        
    }
}

.main-content.user {
    //height: calc(100vh - 108px);
    padding-top: 54px;
    background-color: #f5f4f4;
}

.main-content.modalRecording.user {
    height: calc(100vh - 348px);
}

.header-nav {
    @include flex-alignCenter;
    padding: 2em 0.8em;
    height: 54px;
    z-index: 9999;
    border-bottom: 1px solid #f9ecec;
    background-color: #ffffff !important;
    position: fixed;
    top: 0;
    width: 100%;

    &__icon {
        cursor: pointer;
        color: #cac7c7;
        font-size: 1.4em !important;
    }

    &__logo {
        width: 120px;
    }

    .invisible {
        opacity: 0 !important;
        visibility: hidden !important;
    }

    &__icon:hover {
        color: $primary-color;
    }

    &__title {
        margin: 0;
        // font-family: "Righteous", cursive;
        font-family: "Pacifico", cursive;
        // font-family: "Gloria Hallelujah", cursive;
        // font-family: "Acme", sans-serif;
        // font-family: "Capriola", sans-serif;
        letter-spacing: 0.12em;
        font-size: 1.8em;
    }
}

.main-header {
    max-height: 100vh;
    height: 100vh;
    position: relative;

    .pushable > .pusher:after {
        position: fixed;
        height: 100vh!important;
    }

    .pushable>.pusher {
        overflow: auto!important;
        position: inherit!important;
    }
}

.pushable {
    //height: 94vh!important;
    height: 100vh !important;
    padding: 0 0 2em 0 !important;
}
.ui.visible.right.overlay.sidebar {
    margin-top: 57px!important;
    z-index: 1006;
    height: 87vh!important;
}

.ui.sidebar {
    height: 88%!important;
}

.main-header-links {
    height: 84vh;
    align-items: flex-start;
    text-align: left;

    @include flex-column;
    justify-content: space-between;

    .container {
        @include flex-column;
    }

    &__item {
        padding: 15px;
        color: $primary-text-color;
        position: relative;
        &:after {
            position: absolute;
            transition: all 0.3s;
            bottom: 0;
            left: 0;
            right: 0;
            width: 3px;
            content: ".";
            color: transparent;
            background: $primary-color;
            height: 0%;
        }

        &:hover,
        &.active {
            color: $primary-color;
        }

        &:hover::after,
        &.active::after {
            height: 100%;
        }
    }
}

.navigationBottom {
    padding: $padding;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #f9ecec;
    background-color: $background-items;
    z-index: 9999;
    margin-top: 100px !important;

    &-items {
        margin-left: 10px !important;
        font-size: 1.4em !important;
    }
}

.active-navbottom {
    color: $primary-color !important;
    cursor: pointer;

    .i.big.icon {
        color: $primary-color !important;
    }
}

.message_dot {
    position: relative;

    &__label {
        position: absolute;
        right: -4px;
        bottom: 10px;
    }
    .ui.label, .ui.labels .label {
        font-size: 0.657143rem;
    }
}