.recording {
  .total {
      position: absolute;
      right: 0px;
      top: 20px;
      font-size: 0.9rem;
  }

  .played {
      position: absolute;
      top: 20px;
      left: 45px;
      font-size: 0.9rem;
  }
}