@import "../../styles/vars";
@import "../../styles/mixin";

.audioRecorder {
    padding-bottom: 15px !important;
    position: relative;
    margin-top: 0!important;

    &-player {
        display: flex;
        align-items: center;
        padding: 1em 1.6em .5em 1.6em;
        background-color: #cecccc36!important;
        //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.219);
        width: 90%;
        border-radius: 1.6em;
        margin: 0 auto;

        &_progress {
            position: relative;
            top: 0.44em;
            margin-left: 0.5em;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }

        &_time {
            display: flex;
            padding: 0 0.3em;
            justify-content: space-between;
        }

        &_btn {
            background-color: #cac7c7;
            color: $background-items;
            margin-right: 1em !important;
            border: 0!important;
        }
    }

    i.circular.icon {
       width: 32px !important;
       height: 22.5px !important; 
    }

    .ui.progress .bar {
        background-color: #88888852;
    }

    .ui.orange.progress .bar {
        background-color: #aca6a6;
    }

    .progress {
        height: 10px;
        margin-left: 0px !important;
       // margin-right: 10px !important;
        margin-bottom: 4px !important;
        width: 100%;
        .bar {
            height: 10px !important;
        }
    }

    .played,
    .total {      
        font-size: 0.6rem;
        font-weight: 600;
        color: #6f6d6d;
    }

    .icon {
        cursor: pointer;
    }
}
