@import "../../styles/vars";
@import "../../styles/mixin";

.swipeout-container {
  margin-bottom: 10px;
  border-bottom: none !important;
}

.rc-swipeout {
  overflow: inherit;
}

.irecords {
  border-bottom: none !important;
  margin-bottom: 20px !important;
  position: relative;
  width: 100% !important;
  max-width: 500px !important;

  margin: 0 auto !important;
  //box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;

  &_rows {
    margin: 1em 0;
  }

  &__row {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    align-items: center;
  }
  
  &-container {
    width: 100vw !important;
  
    
    .separator {
      border: 1px solid rgba(0, 0, 0, 0.116);
      width: 56%;
      display: block;
      margin: .5em auto;
    }

    .expression {
      // text-align: center;
      width: 50%;
      font-size: 1.02em;
    }

    .translation {
      // text-align: center;
      width: 50%;
      font-size: 1.02em;
    }
  }

  /* Border between englishText et traductionText */
  div.ui.card > .content,
  .ui.cards > .card > .content {
    border-top: 0;
    padding: 0em 1em;
  }

  .ui.card, .ui.cards>.card {
    box-shadow: none;
    border-radius: 10px !important;
  }


  &-container {
    width: 100vw !important;
    //box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .flag_image {
    display: block;
    padding: 0.3em;
    background-color: #ffffff;
    margin-right: 0.3em;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
  }

  .header-irecords {
    padding: 10px 10px 0 10px!important;
    display: flex;

    &__avatar {
      margin: 0 !important;
      margin-right: 10px !important;
    }

    &__fullname {
      position: relative;
      top: 5px;
      font-size: 1.1em;
      font-weight: 600;
    }

    &__copy-delete {
      position: absolute;
      right: 8px;
      top: 15px !important;
      cursor: pointer;
    }
  }

  &__text {
    padding: 8px !important;
  }
}

/* Modal confirmation suppression iRecords */
.delete-irecords {
  button {
    font-size: 0.9em !important;
  }
  .ui.primary.button,
  .ui.primary.buttons .button {
    @include button;
  }
}

.record_flag_image {
  display: block;
  padding: 0.3em;
  background-color: #ffffff;
  margin-right: 0.3em;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}
