@import "../../styles/vars";
@import "../../styles/mixin";

.login {
    &-form {
        margin-top: 20px;
        height: 100vh;
        padding: 50px;
        @include flex-column;
        align-items: center;
    }
    &-button {
        @include button;
        display: block;
        margin: 0 auto;
    }
    &-title {
        text-align: center;
        padding-bottom: 30px;
    }
    > input {
        width: 50px !important;
    }
}
