/* Generic */

/* Color */
$primary-color: #fe734c;
$background-color: #fcfcfc;
$shape-color: #fceeeb;
$primery-text-color: #272b2e;
$background-items: #ffffff;

/* Padding and margin */
$padding: 1em;
$padding-big: 1.6em;
