/* Generic */

/* Color */
$primary-color: #fe734c;
$background-color: #fcfcfc;
$border-color: #ccc;
$shape-color: #fceeeb;
$primary-text-color: #272b2e;
$background-items: #ffffff;
// #00000
/* Padding and margin */
$padding: 1em;
$padding-big: 1.6em;
$margin: 1em;
