@import "../../styles/vars";
@import "../../styles/mixin";

.search-input {
    margin: $margin 0;
    display: flex;
    // background-color: blue;
    justify-content: center;
    align-items: center;
    &-item {
        flex: 1;
        margin-right: 27px;
        position: relative;
        left: 13px;
    }
    &-button {
        background-color: transparent !important;
        color: black !important;
        position: relative;
        left: -10px;
    }
}

.search-content--items {
    @include flex-column;
    align-items: center;
    h1 {
        margin: 20px 0 !important;
    }
}

.search-tabs {
    max-width: 510px !important;
    min-width: 308px !important;
    width: 309.5px !important;
}
